<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesion</title>
    <link rel="stylesheet" href="estilo/estilos_inicio/estilos_inicio.css">
    <header class="encabezado"> 
        <img src="estilo/logo_img/logo_uabc.png" alt="Logo de la universidad" class="logo">
    </header>
</head>
<body>
    <center> <h3>UNIVERSIDAD AUT&Oacute;NOMA DE BAJA CALIFORNIA</h3></center>
    <br>

    <center>
        <label for="id_matricula">MATRICULA</label>
        <br>
        <input type="text" id="id_matricula" name="matricula" value="" autocomplete="off" required minlength="6" maxlength="6">
        <br>
    </center>
    <br>
    <br>
    <br>
    <center>
        <label for="id_correo_electronico"> CORREO INSTITUCIONAL</label>
        <br>
    
        <input type="email" name="correo_electronico" id="id_correo_electronico">
    </center>
    <br>
    <br>
    <br>
    <br>
    <center>
        <input type="submit" value="INGRESAR">
    </center>
</body>
</html>