<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitud</title>
    <link rel="stylesheet" href="estilos_solicitud/estilos_solicitud.css">
</head>
<body>
    <p class="titulo">Solicitud</p><br><br>
    <p class="subtitulo">Situacion Medica</p>
    <p class="contenido">En esta seccion irá el contenido del apartado 'Situacion Medica'</p>
    <br>
    <p class="subtitulo">Gastos Asociados</p>
    <p class="contenido">En esta seccion irá el contenido del apartado 'Gastos Asociados'</p>
    <br>
    <p class="subtitulo">Documentacion Requerida</p>
    <p class="contenido">En esta seccion irá el contenido del apartado 'Documentacion Requerida'</p><br>
</body>
</html>