<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aceptado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/comprobante.css')}}">
</head>
<body>
    <header class="encabezado"> 
        <img src="{{ url_for('static', filename='images/logo_uabc.png')}}" alt="Logo de la universidad" class="logo">
    </header>

<center>
    <br>
    <br>
    <h3>¡SOLICITUD ACEPTADA!</h3>
    <br>
    <h2>Felicidades tu solicitud ha sido procesada exitosamente</h2>
    <h2>Nos pondremos en contacto contigo muy pronto.</h2>
    <br>
    <h2>Para mayores informes comunicate al 5568901254</h2>
    <br>
    <br>
    <h2>Encuentranos en nuestras redes sociales como:</h2>
    <p>&#64;solicitudfondosmedicos</p>

</center>
<br>
<br>

    <div class ="customBotonSubmit">
        <input type="submit" value="Volver al inicio"></input>
    </div>
    
</body>
</html>