<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rechazada</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/comprobante.css')}}">
</head>
<body>
    <header class="encabezado"> 
        <img src="{{ url_for('static', filename='images/logo_uabc.png')}}" alt="Logo de la universidad" class="logo">
    </header>

<center>
    <br>
    <br>
    <h3>¡SOLICITUD RECHAZADA!</h3>
    <br>
    <h2>Lo sentimos, tu solicitud no cumple con los requisitos necesarios.</h2>
    <h2>Para más información, por favor contácta a nuestra encargada de m&oacute;dulo.</h2>
    <br>
    <h2>Monica Hern&aacute;ndez Aguilar</h2>
    <p>Extensi&oacute;n: 6465608762</p>
    <br>
    <br>
    <h2>Encuentranos en nuestras redes sociales como:</h2>
    <p>&#64;solicitudfondosmedicos</p>

</center>
<br>
<br>
    <form method="POST">
    <div class ="customBotonSubmit">
        <input type="submit" value="Volver al inicio"></input>
    </div>
    </form>
</body>
</html>